# vim: syntax=systemd:ts=4:sw=4:
# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create an override file.
# If the command cannot be run check SELinux, e.g:
# sudo semanage fcontext -a -t bin_t <ExecStart command>
# and try:
# sudo restorecon -F <ExecStart command>

[Unit]
Description=Oracle Enterprise Server 19c
After=syslog.target network.target

[Service]
Type=forking
RemainAfterExit=yes
KillMode=none
TimeoutStopSec=10min
# memlock limit is needed for SGA to use HugePages
LimitMEMLOCK=infinity
LimitNOFILE=65535

User=oracle
Group=oinstall

ExecStart=/opt/oracle/product/19c/dbhome/bin/dbstart /opt/oracle/product/19c/dbhome
ExecStop=/opt/oracle/product/19c/dbhome/bin/dbshut /opt/oracle/product/19c/dbhome
#ExecReload=
#KillMode=mixed
#KillSignal=SIGINT

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=600

[Install]
WantedBy=multi-user.target
