[db]
username: vf_dba_build
credential_name: ORACLE_OPC
credential_owner: SYSMAN
installation_base_directory: /u01/app/oracle/emagent
instance_directory: /u01/app/oracle/emagent/agent_inst
custom_credential_loc: /home/oracle/.vf_dba_build

[compute]
username: vf_unix_build
credential_name: LINUX_OPC_OEM
credential_owner: VF_UNIX_BUILD
installation_base_directory: /opt/emagent
instance_directory: /opt/emagent/agent_inst
custom_credential_loc: /home/oracle/.vf_unix_build
