[dublin]
url = https://vg00071de.snc5003.ie1ds014001oci1.oraclevcn.com:7799/em

[milan]
url = https://vg00011de.snc5003.it1ds014001oci1.oraclevcn.com:7799/em

[rating]
url = https://vg00041de.snc5003.de1ds014001oci1.oraclevcn.com:7803/em 

[local]
url = https://oms.example.com:7803
